.wrapper{
	width: 400px;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.header{
	width: 400px;
	height: 100px;
	background-color: #141f40;
}

.left{
	width: 150px;
	height: 250px;
	background-color: #80bfa8;
	float: left;
}

.right{
	width: 100px;
	height: 150px;
	background-color: #ff9e6b;
	float: right;
}

.center-upper{
	width: 150px;
	height: 50px;
	background-color: #dbd400;
	float: right;
}

.center{
	width: 150px;
	height: 100px;
	background-color: #0093b7;
	float: right;
}

.center-lower{
	width: 250px;
	height: 100px;
	background-color: #8c2727;
	float: right;
}

.footer{
	width: 400px;
	height: 100px;
	background-color: #d98d30;
}

@media screen and (max-width: 767px){
	.wrapper{
		width: 300px;
	}

	.header{
		width: 300px;
		height: 100px;
	}

	.left{
		width: 100px;
		height: 250px;
	}

	.right{
		width: 75px;
		height: 150px;
	}

	.center-upper{
		width: 125px;
		height: 50px;
	}

	.center{
		width: 125px;
		height: 100px;
	}

	.center-lower{
		width: 200px;
		height: 100px;
	}

	.footer{
		width: 300px;
		height: 100px;
	}
}

@media screen and (max-width: 479px){
	.wrapper{
		width: 150px;
	}

	.header{
		width: 150px;
		height: 100px;
	}

	.left{
		float: none;
		height: 250px;
		width: 150px;
	}

	.right{
		float: none;
		width: 150px;
		height: 150px;
	}

	.center-upper{
		width: 150px;
		height: 50px;
	}

	.center{
		width: 150px;
		height: 100px;
	}

	.center-lower{
		width: 150px;
		height: 100px;
	}

	.footer{
		width: 150px;
		height: 100px;
	}
}