.wrapper{
	width: 400px;
}

.header{
	width: 400px;
	height: 100px;
	background-color: #141f40;
}

.clearfix:after{
	content:"";
	display:block;
	clear: both;
}

.left{
	width: 150px;
	height: 250px;
	float: left;
	background-color: #80bfa8;
}

.right{
	width: 250px;
	height: 250px;
	float: right;
	background-color: #8c2727;
}

.footer{
	width: 400px;
	height: 100px;
	background-color: #d98d30;
}

@media screen and (max-width: 767px){

	.wrapper{
		width: 250px;
	}

	.header{
		width: 250px;
		height: 100px;
	}

	.left{
		width: 150px;
		height: 250px;
	}

	.right{
		width: 100px;
		height: 250px;
	}

	.footer{
		width: 250px;
		height: 100px;
	}
}

@media screen and (max-width: 479px){
	.wrapper{
		width: 150px;
	}

	.header{
		width: 150px;
		height: 100px;
	}

	.left{
		width: 150px;
		height: 250px;
	}

	.right{
		width: 150px;
		height: 250px;
	}

	.footer{
		width: 150px;
		height: 100px;
	}

}